@font-face {
    font-family: AppleEB;
    src: url(/font/AppleSDGothicNeoEB.ttf);
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}


p {
    line-height: 1.6;
}

.global-nav {
    height: 44px;
    padding: 0 1rem;
}

.global-nav-links {
    justify-content: space-between;
}

.local-nav {
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.product-name {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.local-nav-item {
    margin-left: 2em;
    font-size: 0.8rem;
}

.scroll-section {
    padding-top: 50vh;
}

#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    font-size: 2.5rem;
    margin: 5px 0;
}

.main-message h1 {
    font-family: AppleEB;
}

.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.description {
    font-size: 1.2rem;
    color: #888;
    padding: 0 1rem;
}

.description strong {
    font-size: 3rem;
    color: rgb(29, 29, 31);
    font-family: AppleEB;
    float: left;
    margin-right: 0.2em;
}

#scroll-section-2 .main-message {
    font-family: AppleEB;
    font-size: 3.5rem;
}

.main-message small {
    font-family: AppleEB;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.desc-message{
    font-weight: bold;
    width: 50%;
}

.pin {
    width: 1px;
    height: 100px;
    background-color: rgb(29, 29, 31);
}

.mid-message {
    font-size: 2rem;
    color:#888;
    padding: 0 1rem;
}

.mid-message strong {
    font-family: AppleEB;
    color: rgb(29, 29, 31);
}

.canvas-caption {
    color:#888;
    font-size: 1.2rem;
    padding: 0 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    color: white;
    background-color: darkorange;
}